.u-section-1 {
  min-height: 967px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 965px;
  background-image: linear-gradient(#adf6f2, #db545a);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 96px 578px 0 125px;
}

.u-section-1 .u-image-1 {
  width: 333px;
  height: 219px;
  margin: -702px 140px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 333px;
  height: 313px;
  margin: 170px 140px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1285px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1283px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 478px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -728px;
    margin-right: auto;
    margin-left: 598px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 142px;
    margin-right: auto;
    margin-left: 598px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 102px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 283px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 98px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: 98px;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 143px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -702px;
    margin-right: 140px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 140px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 210px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 301px;
    margin-right: auto;
  }
}.u-section-2 {
  background-image: url("/static/css/About_Image_3.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 653px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: -2px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1018px;
  pointer-events: auto;
  background-image: linear-gradient(#e0e5eb, white);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 22px -22px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 67px 8px 0;
}

.u-section-2 .u-image-1 {
  min-height: 655px;
  pointer-events: auto;
  background-image: url();
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 318px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 839px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 414px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-image-1 {
    min-height: 621px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 391px;
  }
}.u-section-3 {
  background-image: linear-gradient(#adcce9, #b9c1cc);
}

.u-section-3 .u-sheet-1 {
  min-height: 846px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 766px;
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 528px;
  width: 500px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 766px;
  background-image: linear-gradient(#fbeced, #adf6f2);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  font-weight: 700;
  width: 360px;
  margin: 65px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 705px;
  }

  .u-section-3 .u-image-1 {
    height: 433px;
    width: 410px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 632px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-2 {
    width: 395px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 484px;
  }

  .u-section-3 .u-image-1 {
    height: 317px;
    width: 300px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 730px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 30px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 726px;
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 457px;
  }
}.u-section-4 {
  background-image: linear-gradient(#e5e5e5, #e5e5e5);
}

.u-section-4 .u-sheet-1 {
  min-height: 655px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 655px;
  pointer-events: auto;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 27px 30px 28px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 60px 85px 0 63px;
}

.u-section-4 .u-image-1 {
  min-height: 655px;
  pointer-events: auto;
  background-image: url("/static/css/7b7709413e8d2f8b802b4fddf689b47e59552a2884af25cd2e42fa3ddb224a81af398dc4094a37ca7c72e8bf0572718f24f842dd820ddb16ee5c52_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 318px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 1px;
    margin-right: 23px;
  }

  .u-section-4 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 414px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    min-height: 621px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 391px;
  }
}.u-section-5 {
  background-image: linear-gradient(#eafdfc, #ccd3db);
}

.u-section-5 .u-sheet-1 {
  min-height: 710px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 39px 126px 0 105px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 590px;
  margin: 74px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 87px auto 60px;
  padding: 13px 120px 15px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 26px;
    margin-left: 5px;
    width: 909px;
  }

  .u-section-5 .u-text-2 {
    width: 909px;
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}